main {
  display: flex;
  justify-content: center;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer dd {
  margin-left: 10px;
}
